.web-logo {
    color: var(--accent-color)
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--black-color);
    /* identical to box height */
    letter-spacing: 0.03em;
    margin-right: 93px;
}